


body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom right, #36655e, #add6c5);
    background-size: cover;
    overflow-x: hidden;
}

@font-face {
    font-family:Poppins;
    src: url('Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family:Poppins-Bold;
    src: url('Poppins/Poppins-SemiBold.ttf');
}

    .header{
        display: flex;
        justify-content: space-between;
        font-family:Poppins;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
    }
        

        .header-links{
        display: flex;
        gap: 130px;
        text-align: center;
        justify-content: center;
        }

    a{
        text-decoration: none;
        color: white;
        font-size: 23px;
        text-align: center;
    }

    .first-content{
        display:flex;
        font-family:Poppins;
        padding-top: 100px;
        justify-content: space-between;
    }
        .first-content-elements{
            padding-left: 50px;
            display: flex;
            flex-direction: column ;
            justify-content: center;
        }

        .learn-more-button{
            font-size: 25px;
            color: white;
            background-color: transparent;
            padding: 10px;
            border: 4.7px solid white;
            border-radius: 30px;
            width: 230px;
        }

        img{
            height: auto;
            width: auto;
        }

        .ruler{
        }

        .title{
            color:white;
            font-family: Poppins-Bold;
            font-size: 88.5px;
            font-weight: bold;
            line-height: 0.9;
        }
        .subtitle{
            color:white;
            font-family: Poppins-Bold;
            font-size: 88.5px;
            font-weight: bold;
            line-height: 0.9;
            display: flex;
            gap: 15px;
        }

        .dots{
            width: 57%;

        }

        .logo{
            width: 100px;
            height: auto;
        }
        

